.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
gap: 30px;
    justify-items: center;
    padding: 30px ;

  }
  
.card {
    width: 80%;
    border: 2px solid rgba(0, 0, 0, 0.161);
    margin-bottom: 30px;
}
  
  
